MachineMindsUnity/Assets/Resources/GameState.save
MachineMindsUnity/Assets/Resources/GameState.save.meta
MachineMindsUnity/Assets/Sprites/Textures/Grass_corrupted_left.png
MachineMindsUnity/Assets/Sprites/Textures/snow_super_dark.png
