/MachineMindsUnity/Assets/Resources/GameState.save
/MachineMindsUnity/Assets/Resources/GameState.save.meta
/MachineMindsUnity/Assets/Sprites/Textures/Grass_corrupted_left.png
/MachineMindsUnity/Assets/Sprites/Textures/snow_super_dark.png
/MachineMindsUnity/Assets/Resources/game_data.csv
/MachineMindsUnity/Assets/AstarPathfindingProject/*
/MachineMindsUnity/AI/venv
/MachineMindsUnity/WebSetup/*
/MachineMindsUnity/AI/API_KEY.json
/MachineMindsUnity/AI/Data/*
/MachineMindsUnity/Assets/StreamingAssets/AI/in_game_env